body {
    font-family: 'Gayathri', sans-serif;
    /* background-color: black; */
    background-color: #052123;
    color: #44A1A0;
}

/* ====================================================
================   FORM  ================
==================================================== */

h1 {
    /* color: gold; */
    color: #44A1A0;
    text-align: center;
    margin-bottom: 0px;
}

#cover {
    font-size: 6rem;
}


form {
    display: inline-block;
}

#search {
    width: 40rem;
    height: 3rem;
    text-align: center;
    border: none;
    margin-left: 23rem;
    margin-top: 0rem;
    /* border-radius: 30px; */
    /* background-color: black; */
    background-color: #052123;
    font-size: large;
    color: #C4CBCA;
    /* border-bottom: 1vh double white; */
    /* transition: 1s ease-in-out; */
}

#search:focus {
    outline: none;
}

#search:hover {
    border-bottom: 1px solid black;
    /* border-top: 1vh solid white; */
}

.searchBtn {
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    font-size: medium;
    border: none;
    margin-right: 20px;
    background-color: #052123;
}

.turnMe {
    /* margin: 50px 0 0;
    padding: 0px; */
    letter-spacing: 15px;
    /* writing-mode: vertical-lr;
    font-weight: bold; */
    /* background-color: black; */
    /* margin: 1rem 2rem; */
    padding: 1rem;
    width: 32rem;
    height: auto;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    writing-mode: vertical-lr;
}

/* ====================================================
==================   RESULTS BOXES  ==================
======================================================= */

#results {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
}

.results-list {
    
}

a {
    text-decoration: none;
    color: #C4CBCA;
}

.listStyle {
    list-style-type: none;
    text-align: center;
    margin-right: 3vw;
    color: #C4CBCA;
    text-decoration: none;
}

.boxes {
    /* border: 2px solid red; */
    margin: 1rem 2rem;
    padding: 1rem;
    width: 32rem;
    height: auto;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
}

.boxes:hover {
    /* padding: 10rem;
    transition: ease-in-out 2s; */
}

.fab {
    color: #44A1A0;
    margin-top: 0px;
}

.fas {
    color: #44A1A0;
}

@media only screen and (max-width: 501px) {
    
    html {
       margin: 0 auto; 
       padding: 0px;
    }
    
    #cover {
        margin: auto;
        text-align: center;
        padding-left: 12vw;
    }

    #search-bar {
        margin: 0px;
        height: 2vh;
    }

    #search {
        width: auto;
        height: auto;
    }

    
}